//import
@import "./mixins";
// Header Styles
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .navigation {
        @include flexCenter(center, row);
        background: $light;
        text-align: center;
        font: $fontSans;
        top: 0;
        left: 0;
        padding: 0 4em;
        h1 {
            display: block;
            @include imageReplace("../assets/logo-text.svg");
            height: 2em;
            width: 2em;
            margin-right: 0.5em;
        }
        nav {
            display: none;
            position: fixed;
            opacity: 0;
            transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width:100%;
            height: 100vh;
            background-color: $lightGrey;
            text-align: center;
            &.is-active {
                @include flexCenter(center, column);
                opacity: 100%;
            }
            ul {
                padding-left: 0;
                li {
                    display: block;
                    font-size: 3em;
                }
            }
        }
        .social {display: none;}
        button {
            margin-left: 1em;
        }    
        @include for-size(tablet-landscape-up) {
            #ham {display: none;}
            nav, .social {display: inline-block;}
        }
    }
}
