//import
@import "./mixins";
// Header Styles
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .navigation {
        @include flexCenter(center, row);
        background: $light;
        text-align: center;
        font: $fontSans;
        top: 0;
        left: 0;
        padding: 0 4em;
        h1 {
            display: block;
            @include imageReplace("../assets/logo-text.svg");
            height: 2em;
            width: 2em;
            margin-right: 0.5em;
        }
        nav {
            display: none;
            ul {
                padding-left: 0;
            }
        }
        .social {display: none;}
        button {
            margin-left: 1em;
        }    
        @include for-size(tablet-landscape-up) {
            #ham {display: none;}
            nav, .social {display: inline-block;}
        }
    }
}
