//import
@import "./mixins";
// Header Styles
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .navigation {
        @include flexCenter(center, row);
        background: $light;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1em 2em;
        h1 {
            display: block;
            @include imageReplace("../assets/logo-text.svg");
            height: 2em;
            width: 2em;
        }
    }
}