//Mixins
@mixin flexCenter($justify, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
    flex-wrap: nowrap;

}
@mixin imageReplace ($image) {
    display: inline-block;
    letter-spacing: normal;
    text-indent: -990em;
    overflow: hidden;
    background: url($image) no-repeat center;
}
@mixin for-size($size) {
    @if $size == phone-only {
      @media (max-width: 599px) { @content; }
    } @else if $size == tablet-portrait-up {
      @media (min-width: 600px) { @content; }
    } @else if $size == tablet-landscape-up {
      @media (min-width: 900px) { @content; }
    } @else if $size == desktop-up {
      @media (min-width: 1200px) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: 1800px) { @content; }
    }
  }