// Variables
$light: #fcfcfc;
$lightGrey: #d9d7d7;
$primaryBlue: #014693;
$blueGrey: #202D4D;
$donateBtn: #FF4D00;
$textColor: black;
$fontSerif: 16px ltc-goudy-oldstyle-pro, serif;
$fontSans: 16px aileron, sans-serif;