//Imports
@import "./variables";
@import "./mixins";

//Slider Styles
.slider {
    height: 60vh;
    max-height: 545px;
    .slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        background-size: cover;
        background-position: center;;
        background-image: url(/assets/images/slider1.jpg);
        .content {
            color: $light;
            text-align: center;
            p {
                font-size-adjust: 0.5em;
            }
        }
    }
}
//Impact Styles
section.impact {
    @include flexCenter(space-around, row);
    text-align: center;
    font-size: 1.5em;
    .div {
        width: 30%;
        strong {
            font-size: 1.5em;
        }
    }
}