//Imports
@import "./variables";
@import "./header";
//Mixins

// Base Styles
body {
    padding-top: 15vh;
    box-sizing: border-box;
    font: $fontSerif;
}
ul {
    list-style: none;
    margin: 0;
}
a {
    color: $textColor;
    text-decoration: none;
    &:hover {color: $primaryBlue;}
}
button {
    color: $light;
    background: $primaryBlue;
    &:hover {
        background-color: $donateBtn;
    }
    &.donate{
        background-color: $donateBtn;
        &:hover {
            background-color: $primaryBlue;
        }
    }
    &:focus {
        background-color: black;
    }
    border: none;
    border-radius: 10%;
    padding: 0.65em 1em;
    text-align: center;
}
section {
    padding-top: 10vh;
}