//Imports
@import "./variables";
@import "./mixins";
@import "./header";

// Base Styles
body {
    padding-top: 15vh;
    box-sizing: border-box;
    font: $fontSerif;
}
ul {
    list-style: none;
    margin: 0;
}
a {
    color: $blueGrey !important;
    text-decoration: none;
    &:hover {color: $primaryBlue !important;}
}
button {
    color: $light;
    background: $primaryBlue;
    &:hover {
        background-color: $donateBtn;
    }
    &.donate{
        background-color: $donateBtn;
        &:hover {
            background-color: $primaryBlue;
        }
    }
    &:focus {
        background-color: black;
    }
    border: none;
    border-radius: 10%;
    padding: 0.65em 1em;
    text-align: center;
}
nav {   
    a {padding: 0 1em;}
    ul {
        li {
            display: inline-block;
            &::after {
                content: "|";
                color: $textColor;
            }
            &:last-of-type::after {content: "";}
        }
    }
}
.social {
    line-height: 1em;
    a {
        margin: 0 1em;
        width: 1em;
        line-height: 1em;
        &.insta {
            @include imageReplace("../assets/insta.svg");
        }
        &.fb {
            @include imageReplace("../assets/fb.svg");
        }
    }
}
section {
    padding-top: 10vh;
}
.tagline {
    text-align: center;
    color: $light;
    padding: 1em;
    line-height: 1em;
    background-color: $primaryBlue;
    p {
        margin-bottom: 0;
    }
}
footer {
    text-align: center;
    nav {
        margin: 1em 0;
        button, ul {display: inline-block;}
    }
    div {
        color: $blueGrey;
        font: $fontSans;
        font-weight: 300;
        background-color: $lightGrey;
        padding: 2em 0;
        text-transform: uppercase;
        p a {
            display: inline-block;
            margin-left: 1em;
            &::before {
                content: "|";
                color: $textColor;
                padding-right: 2em;
            }
        }
        p:last-of-type {
            margin-bottom: 0;
        }
    }
}